---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title ? `${title} — btsv` : 'btsv'}</title>
		<meta name="description" content={description || ''} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<header>
			<nav>
				<a href="/"><strong>btsv</strong></a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>Powered by <a href="https://github.com/mattelim/btsv-template-astro">btsv</a></p>
		</footer>
	</body>
</html>
